{{ define "title" }}Pass{{end}} {{ define "scripts" }}{{end}} {{define "body"}}
<h1>Pass</h1>
<a href="/passes/create/{{ .Data.pass.Id }}"><button>Edit</button></a>
<button
  hx-post="/passes/delete/{{ .Data.pass.Id }}"
  hx-confirm="Are you sure you want to delete this pass?"
>
  Delete
</button>
<label>Name:</label>
<p>{{ .Data.pass.Name.Value }}</p>
<label>Username:</label>
<p>{{ .Data.pass.Username.Value }}</p>
<label>Password:</label>
<p>{{ .Data.pass.Password.Value }}</p>
<label>Websites:</label>
{{ range .Data.pass.Websites }}
<p>{{ .Value.String }}</p>
{{ end }}
<label>Tags:</label>
{{ range .Data.pass.Tags }}
<p>{{ .Value.String }}</p>
{{ end }} {{end}}
