<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <h2>Sign Up</h2>
    <form>
      <div>
        <label for="email">Email:</label>
        <input id="email" type="text" />
      </div>
      <div>
        <label for="password">Password:</label>
        <input id="password" type="password" />
      </div>
      <button type="submit">Sign Up</button>
    </form>

    <script src="/static/sign-up.js"></script>
    <script src="/static/theme.js"></script>
  </body>
</html>
